body {
    font: 14px sans-serif;
    color: white;
    background-color: black;
}

.container {
    display: flex;
    vertical-align: top;
    width: 100%;
    height: 50%;
    padding: 10px;
    border: 0px solid black;
}

#viewContainer {
    flex: 2;
}

#tfContainer {
    flex: 1;
    position: relative;
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 1px;
}

rect {
    /* width: .1rem; */
    color: white;
    fill: white;
    transition: height 500ms ease-out;
}

.swatch-picker {
    position: absolute;
    text-align: center;
    border: 1px solid #ccc;
    display: inline-block;
    width: auto;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    transform: translateX(-50%);
    background-color: black;
}

label {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    margin: .2rem .2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

span {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

input {
    -webkit-appearance: none;
}

input:checked+span {
    border: 1px solid rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .6);
    transform: scale(1.1)
}

*[hidden=true] {
    display: none;
}