body {
    font: 12px sans-serif;
    color: white;
    background-color: black;
}

.container {
    display: table-cell;
    vertical-align:top;
    height: 500px;
    padding: 10px;
    border: 0px solid black;
}

.instructions {
    color: red;
}
